/* 폰트설정 */
@font-face {
    font-family: 'pretendard-semibold';
    src: url('../../webfonts/woff/Pretendard-SemiBold.woff');
    font-weight: normal;
    font-style: normal;
}
/* 전체 스타일 */
body {
    font-family: 'pretendard-semibold';
    height: 100vh;
    margin: 0;
    display: flex;
}
/* 왼쪽 사이드바 메뉴 */
nav {
    margin: 1%;
    vertical-align: middle;
    border-right: 2px solid #EEEEEE;
}
/* 왼쪽 사이드바 메뉴 이미지 */
.nav_icon {
    margin-top: 50%;
    text-align: center;
}
/* 왼쪽 사이드바 메뉴 개인프로필 */
.nav_mypage {
    text-align: center;
}
/* 왼쪽 사이드바 이미지 배치 */
.nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 왼쪽 메뉴 리스트(장소추천, My Pin) */
li {
    line-height: 30px;
}
/* 왼쪽 메뉴 리스트 아이콘 색상 */
li::marker {
    color:#40a0ff;
}

.course_detail {
    margin: 1%;
    width : 450px;
    text-align: center;
    vertical-align: middle;
}

.course_detail .logo {
    width: 100%;
    height: 5%;
}
/*.course_detail #inputPlace {*/
/*    margin-top: 3%;*/
/*    border-radius: 10px;*/
/*    border: 2px solid #40a0ff;*/
/*}*/
/*.course_detail #button-glasses {*/
/*    margin-top: 3%;*/
/*    border-top: 1px solid #EEEEEE;*/
/*    border-right: 1px solid #EEEEEE;*/
/*    border-bottom: 1px solid #EEEEEE;*/
/*    border-radius: 10px;*/
/*}*/

.btn-primary {
    background-color: #40a0ff !important;
    padding: 15px;
    border: 2px solid #40a0ff;
    border-radius: 10px;
}